<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Le Wagon brings <strong>tech skills</strong> to <strong>creative people</strong>!</h1>
    <p><span data-controller="typed-js"></span></p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>

<div class="container">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur non dictum nisi, at molestie est. Mauris eget mauris non risus sodales laoreet. Ut in tortor at nisl rhoncus convallis id et erat. Maecenas a mattis dolor, et porta quam. Mauris nulla libero, finibus quis metus et, dictum bibendum neque. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc magna erat, laoreet ac malesuada a, blandit sit amet velit. Sed posuere, nunc scelerisque iaculis mollis, nunc nisi dignissim arcu, non lobortis massa odio ut lectus. Aliquam erat volutpat. Maecenas non ligula velit. Sed vitae lorem aliquam, consequat mauris ut, varius sapien. Curabitur tincidunt vestibulum tempus. Aliquam sem mi, bibendum ac dolor sollicitudin, aliquet eleifend lectus.

Integer ornare commodo tincidunt. Cras interdum est a mauris dignissim mattis et maximus sem. Nullam non scelerisque risus, eu laoreet odio. Ut eu odio quam. Maecenas nulla lorem, facilisis eu finibus eget, iaculis volutpat felis. Fusce viverra tortor lacus, lobortis posuere dolor viverra in. Sed pretium sodales condimentum. Donec euismod venenatis ipsum imperdiet blandit. Fusce elementum, purus quis accumsan lacinia, purus justo pellentesque sem, et vulputate mauris lectus vel lectus. Sed dictum eu massa in auctor. Nullam suscipit velit vitae tortor facilisis, et venenatis tortor pretium.

Nulla sit amet metus convallis, pellentesque tortor id, porta dui. Fusce sit amet consequat lorem. Pellentesque tempus, urna in lacinia laoreet, dui turpis viverra arcu, quis volutpat neque dolor sit amet quam. Donec varius massa in ex facilisis, ac condimentum tortor molestie. Nam eget tellus ex. Morbi vulputate nulla nec finibus cursus. Suspendisse potenti. Sed dapibus consequat pellentesque. Nunc blandit arcu eu felis ornare, eu tincidunt leo pharetra. Nulla luctus neque sem, nec vulputate sem placerat non. Nullam sagittis nisl sit amet lobortis pretium. Suspendisse pharetra tincidunt neque, nec aliquam massa pharetra non. Cras nec ornare risus. Donec nec metus at quam convallis suscipit.

Donec porta est eu imperdiet tincidunt. Donec suscipit eget neque vel pulvinar. Aliquam vitae mauris nisl. Mauris sit amet mauris luctus, accumsan arcu sed, sodales eros. Nam finibus tincidunt metus. In gravida consectetur mauris sed blandit. Nunc faucibus elementum imperdiet. Etiam ac lobortis lorem. Etiam semper accumsan elit, sit amet viverra nibh. Sed at pellentesque dolor. Fusce id mollis sem. Nullam tempor sapien turpis, ut consectetur lectus dictum at. Aenean non nisl lacus. Nulla non auctor lectus, vel vehicula nibh.

In quis eleifend ipsum. Sed vitae mattis lorem, et consequat lacus. Cras ante sapien, sodales a fringilla sed, tristique in ligula. Praesent elementum eu lectus sit amet bibendum. Suspendisse eget dolor sit amet purus lobortis eleifend eget sit amet libero. Mauris imperdiet lacus vitae turpis tincidunt pharetra. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Quisque placerat vulputate justo, id fringilla erat imperdiet sit amet. Nulla eget vehicula magna.

Vestibulum non accumsan massa, eu elementum dui. In tristique dolor libero, ut lacinia ex condimentum id. Donec eleifend feugiat viverra. Fusce eu ex eu dolor sagittis tempor id nec ligula. Aenean id imperdiet ipsum, ut interdum arcu. Sed sed sapien malesuada, iaculis leo ac, aliquam arcu. Etiam posuere mollis mauris. Donec maximus nisi ex, nec fringilla lectus pretium vitae. Nulla hendrerit diam vestibulum quam fermentum aliquet. Aliquam lectus leo, cursus sit amet eleifend vitae, rhoncus varius mauris.

Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse faucibus porta erat, sed imperdiet risus pulvinar convallis. Integer tincidunt tellus tellus, eget feugiat turpis vestibulum mollis. Fusce et interdum ligula. Integer malesuada, leo ac pretium malesuada, dolor elit sagittis lacus, sit amet suscipit justo augue nec lectus. Cras rhoncus laoreet massa, vel mollis erat egestas ut. Mauris quam sapien, aliquet accumsan porta vel, pharetra nec dui. Aliquam ac lectus sit amet libero mollis interdum. Donec vel ligula quis justo cursus elementum. Aenean ut velit dignissim, tristique ante et, dapibus tortor.

Nulla volutpat, erat vel rutrum ullamcorper, nibh risus bibendum diam, nec hendrerit lectus risus ac eros. Morbi ornare tempor purus, quis congue felis varius vel. Aliquam nec scelerisque sapien. Nunc at consequat erat. Suspendisse viverra augue sit amet eros interdum, a sodales diam condimentum. Vivamus in vestibulum neque. Proin pharetra ipsum a justo pharetra ultrices. Praesent aliquet nibh vitae tristique condimentum. Phasellus justo lectus, convallis ac elit quis, ornare ultrices elit. Nulla mattis euismod vestibulum. Cras in risus consectetur, tristique dui ac, hendrerit nunc. Maecenas vitae vestibulum nunc.

Etiam non cursus urna. Aliquam erat volutpat. Cras sodales nisl odio, id porttitor velit ultricies eget. Donec semper enim eget leo egestas cursus vel et magna. In eget massa at urna elementum ultrices nec eget magna. Nullam non eros aliquet, consectetur arcu at, laoreet nibh. Nam nec arcu sit amet mauris elementum vehicula in in est. Nullam ac justo maximus, lacinia leo vitae, tincidunt nulla. In luctus posuere nibh vestibulum tristique. Nunc ut erat in ante tristique laoreet sed eget nisl. Sed nulla massa, consectetur eget lectus in, pulvinar vulputate nisi. Duis pellentesque id sem ac rutrum. Cras aliquam laoreet viverra. Morbi tristique est sit amet leo consectetur, at iaculis turpis imperdiet.

Phasellus tempor rutrum diam, a pretium orci commodo vel. Cras enim urna, aliquet sit amet magna sed, euismod tempor risus. Maecenas cursus blandit tortor et molestie. Etiam consequat id lectus quis convallis. Curabitur ac eros sodales augue blandit pharetra sit amet quis elit. Ut sapien nulla, tristique ut diam ut, faucibus lacinia libero. Nullam tristique ornare tempor.

Phasellus vel iaculis lacus, sit amet sollicitudin lorem. Aliquam in leo massa. Pellentesque accumsan luctus enim eget cursus. Ut malesuada elit non ultrices placerat. Nullam vel hendrerit metus. Nunc at risus ac arcu tristique mattis sed sed orci. Integer orci mi, feugiat sed elit eu, pharetra ornare ipsum. Curabitur viverra sem nec erat scelerisque, eget laoreet mi aliquet. Etiam eget fringilla lacus, ac elementum nibh. Sed venenatis suscipit nisi vitae pretium. Maecenas pretium, nulla sed ullamcorper varius, lacus metus malesuada lectus, eu tempor sapien dolor sit amet tortor. Donec congue nulla in porta dapibus.

Vivamus eleifend purus a molestie dictum. Maecenas suscipit justo dolor, nec laoreet ex maximus at. Vivamus venenatis, metus eu auctor efficitur, elit justo malesuada velit, eget mattis elit nisi vitae massa. Cras fringilla pulvinar nisl vitae posuere. Curabitur rutrum, dolor eu accumsan porta, dolor ipsum facilisis leo, et posuere odio nisl quis erat. Fusce augue magna, fringilla id elementum eu, facilisis vitae nunc. Fusce tempor elit mi, ut hendrerit nunc egestas quis.

Vestibulum congue rhoncus velit, sed pulvinar nisi. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam cursus eros eu enim elementum, id mollis nisi ornare. Morbi laoreet, magna vel venenatis condimentum, tellus lorem imperdiet massa, ut rhoncus metus ex ac dui. Sed a sagittis mi. Donec bibendum purus velit, at porttitor nulla luctus ac. Aenean vitae euismod ante.

In hac habitasse platea dictumst. Ut efficitur est sollicitudin consequat vestibulum. Cras vehicula ornare neque vel elementum. Phasellus vestibulum purus a elementum dictum. Aliquam erat volutpat. Praesent ac malesuada mauris. Fusce felis neque, bibendum in molestie sed, egestas et diam. Morbi diam nisi, efficitur at imperdiet in, ornare euismod eros. Fusce ac eros convallis, pellentesque velit eu, blandit nisi. Pellentesque in dignissim diam, vel suscipit tortor. Aenean nunc risus, luctus ut tincidunt at, mattis ultrices libero. Nulla facilisi. Nullam posuere mattis posuere. Nulla iaculis ante nulla, in eleifend nisl viverra id. Donec finibus lectus ex, nec bibendum lectus vulputate at.

In ut eleifend dolor, quis cursus odio. Sed non est bibendum, ullamcorper ligula eget, lobortis arcu. In velit mauris, facilisis et auctor non, aliquet et enim. Vivamus elementum, risus et aliquet lacinia, enim turpis elementum ligula, a consequat tellus neque et massa. Cras ornare hendrerit quam nec efficitur. Duis placerat nisi quis lacinia pretium. Vestibulum efficitur tincidunt arcu, ac accumsan sem suscipit sed. Fusce hendrerit nisl laoreet, placerat ante mattis, euismod leo. Phasellus euismod, mi in tincidunt dapibus, mi dolor dignissim enim, ac volutpat eros felis eget purus. Proin pretium ac metus quis vestibulum. Vestibulum congue, leo vitae tristique tristique, ligula tellus volutpat sem, id hendrerit leo est tincidunt tellus.

Mauris volutpat massa vel felis tincidunt, eget congue orci cursus. Suspendisse et metus non risus auctor scelerisque. Praesent ligula mi, cursus vel molestie eget, fringilla in augue. Maecenas vulputate vulputate mi et volutpat. In et justo eu libero porttitor finibus eget ut nunc. Aenean finibus eget tellus vitae vehicula. Fusce efficitur, risus ac vehicula viverra, erat tellus sollicitudin turpis, quis molestie tortor mauris in tortor. Maecenas et pretium dui. Morbi nec tempus massa. Vivamus luctus sapien eget lectus condimentum, sed aliquam dui eleifend. Praesent dolor justo, tincidunt eu euismod ut, rhoncus ac ipsum. Donec vel semper nunc. Suspendisse efficitur venenatis cursus.

Quisque hendrerit massa sollicitudin purus vehicula, nec facilisis magna facilisis. Proin eu pharetra est. Phasellus lacus velit, placerat eu libero eu, faucibus lobortis arcu. Maecenas tincidunt elit eget ex interdum, eu bibendum libero commodo. Vestibulum sagittis arcu eu molestie dapibus. Vivamus ac mauris non orci lacinia rutrum. In ultricies velit sed suscipit ullamcorper. Phasellus vestibulum ligula felis, a venenatis ante fringilla id. Nunc in maximus tortor. Pellentesque fermentum, sem non varius cursus, mauris ligula convallis nulla, at pharetra nunc nunc quis turpis. Fusce sit amet risus id magna congue laoreet non a arcu.

Cras ultrices, sapien et tempus rhoncus, dolor odio volutpat nunc, et fringilla urna nibh ac eros. Morbi tempus varius nunc ut condimentum. Maecenas et felis ligula. Sed faucibus magna sapien. Nam aliquam cursus dui, at tristique felis. Quisque id porta nunc. Proin eget nibh arcu. Donec fringilla sodales massa, id bibendum diam scelerisque sit amet. Sed metus nulla, varius ac ligula eu, vehicula posuere libero.

Praesent eleifend mauris sed turpis faucibus semper. Morbi ornare eu leo nec porttitor. Nulla id leo tortor. Sed lacinia magna ex, eget mattis ligula porta eget. In sem leo, rhoncus et nisl at, iaculis maximus quam. Sed erat sem, dignissim a dapibus blandit, porta quis urna. Cras efficitur sit amet neque in interdum. Aenean vitae elementum elit, vitae feugiat est.

Nulla in erat id quam porttitor tempus non vitae magna. Nullam cursus vestibulum ligula ut suscipit. Aenean elit massa, gravida id lacinia non, auctor vitae sem. Cras nec pretium orci. Donec metus augue, ultrices vel rutrum ut, dictum eget est. Nunc fringilla commodo faucibus. Vivamus diam ex, consequat vel fringilla at, fermentum non neque. Fusce est leo, scelerisque sed nisl quis, lobortis ultrices neque.
</div>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Launch demo modal
    </button>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
